/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1 solid #ddd;
}

li label {
    float: left;
    cursor: pointer;
}

li label li input {
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
}

li button {
    float: left;
    display: none;
    margin-top: 3px;
}

li .btn {
    float: right;
}

li::before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}